@page "{id:int?}"
@model SocialMediaFreelas.Pages.Freelancers.DetailsModel
@{
    ViewData["Title"] = "Detalhes";
}

<style>
    .icon-container {
        display: inline-block;
        width: 70px;
        height: 50px;
        overflow: hidden;
    }

    .img-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30%;
    }

    .search-input {
        border-radius: 25px 0 0 25px;
    }

    .search-button {
        border-radius: 0 25px 25px 0;
    }

img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

#main-card {
    color: #000 !important;
    margin-top: 10vh;
    display: flex !important;
    padding: 20px;
    color: #fff;
}

.card-body {
    color: #fff;
}

h2 {
    color: #fff;
}


    .profile-form h3 {
        margin-bottom: 20px !important;
        font-size: 24px !important;
    }

    .profile-form .form-group {
        margin-bottom: 15px !important;
    }

    .profile-form label {
        display: block !important;
        margin-bottom: 5px !important;
    }

    .profile-form input, .profile-form select {
        width: 100% !important;
        padding: 10px !important;
        border: 1px solid #ccc !important;
        border-radius: 5px !important;
    }

    .profile-form button {
        background-color: #28a745 !important;
        color: #fff !important;
        border: none !important;
        padding: 10px 20px !important;
        cursor: pointer !important;
    }
    
    .profile-sidebar h2 {
        color: #495057;
    }

    .control-label{
        color: #495057;
    }
</style>

<div id="main-card">
    <div class="d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://labes.inf.ufes.br/wp-content/uploads/sem-foto.jpg">
        </div>
    <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.FreelancerViewModel.Nome</h5>
                <p class="">@Model.FreelancerViewModel.Email</p>
                <p class="">@Model.FreelancerViewModel.Sobre</p>
                @* <p class="card-text"><small class="text-body-secondary">Online</small></p> *@
                <a href="https://wa.me/@Model.FreelancerViewModel.Telefone" class="btn btn-success">Whatsapp</a>
            </div>
        </div>
    </div>
</div>


<div class="container-exp mt-2">

    <table class="table table-bordered align-middle table-light text-primary">
        <h2>Experiências</h2>
        <thead class="table table-light text-primary">
            <tr>
                <th scope="col">Projeto</th>
                <th scope="col">Empresa</th>
                <th scope="col">Tecnologias</th>
                <th scope="col">Valor do projeto</th>
                <th scope="col">Avaliação</th>
            </tr>
        </thead>
        <tbody>
                @if (Model != null)
                {
                    foreach (var experiencia in Model.FreelancerViewModel.Experiencias)
                    {
                    <tr>
                        <th scope="row">@experiencia.Projeto</th>
                        <td>@experiencia.Empresa</td>
                        <td>@experiencia.Tecnologia</td>
                        <td>@experiencia.Valor</td>
                        <td>@experiencia.Avaliacao</td>
                    </tr>
                    }
                }
        </tbody>
    </table>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}