@page "{id:int?}"
@model SocialMediaFreelas.Pages.Vagas.IndexByFreelancerModel

<style>

    .icon {
        color: #5891ff;
    }

        #footer 
    {
        display: none;
    }

    /* Estilo para a mensagem em primeiro plano */
    .container-messages {
        margin-top: 20px;
        position: relative; /* Posiciona relativo ao seu local normal */
        z-index: 2; /* Coloca a mensagem na frente do fundo */
    }
</style>


        <div class="container-messages d-flex justify-content-center">
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" style="border-radius: 30px;" role="alert" id="success-message">
                <p style="text-align: center">@TempData["MensagemSucesso"]</p>
            </div>
        }
        </div>

<div class="container mt-5">
    <div class="row">
        @if (Model.Response != null)
        {
            foreach (var vaga in Model.Response)
            {
                <!-- Card Vaga 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@vaga.Titulo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@vaga.Localizacao</h6>
                            @if (vaga.Status == "Aberta")
                            {
                                <p class="badge badge-success">Aberta</p>
                            }
                            else
                            {
                                <p class="badge badge-secondary">Fechada</p>
                            }
                            <p class="card-text">@vaga.Descricao</p>
                            <ol class="list-group list-group-flush">
                                <li class="list-group-item"><span><i class="icon icon-bag"></i> </span>: @vaga.Cargo</li>
                                <li class="list-group-item"><span><i class="icon icon-pie-chart"> </i></span>: R$@vaga.Remuneracao</li>
                                <li class="list-group-item"><span><i class="icon icon-clock"></i> </span>: @vaga.Tipo</li>
                            </ol>
                            @if (vaga.Status == "Aberta")
                            {
                                <div class="card-body">
                                    <a class="btn btn-outline-primary mb-1" asp-page="./DetailsByFreelancer" asp-route-id="@vaga.Id">Detalhes</a>
                                </div>
                            }
                            else if (vaga.Status == "Fechada")
                            {
                                <div class="card-body">
                                    <button type="button" class="btn btn-outline-dark mb-1" disabled>Detalhes</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
        }
        <!-- Repita o bloco acima para cada vaga, alterando o título, localização, descrição e detalhes conforme necessário -->

    </div>
</div>


<script>
    window.onload = function() {
    // Seleciona as mensagens de sucesso e erro
    var successMessage = document.getElementById('success-message');

    // Verifica se a mensagem de sucesso existe e a esconde após 3 segundos
    if (successMessage) {
        setTimeout(function() {
            successMessage.style.display = 'none';
        }, 3000);
    }
};
</script>